* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg, rgb(255, 47, 47), rgb(255, 255, 110));
}

#box {
    text-align: center;
    color: rgb(37, 38, 38);
    border-radius: 10px;
    height: 700px;
    width: 500px;
    background-color: white;
    font-size: 1vw;
}

#box p {
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
}

#box h2 {
    color: rgb(255, 255, 255);
    border: 2px solid gray;
    border-radius: 10px;
    background-color: gray;
    padding: 10px;
    margin: 10px;
}


#box img {
    width: 300px;
    border-radius: 50%;
    height: 300px;
    border: 5px solid rgb(45, 43, 43);
}

#box img:hover {
    height: 350px;
    width: 350px;
    transition: .5s;
}

.btn-container button {
    text-align: center;
    border: none;
    border-radius: 10px;
    background: linear-gradient(120deg, rgb(49, 49, 49), rgb(173, 1, 1));
    color: white;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
}

.add:hover {
    background: linear-gradient(120deg, rgb(188, 233, 235), rgb(134, 249, 134));
    color: black;
    transition: 0.5s;
    padding: 12px;
}

.addFriend {
    color: rgb(62, 94, 13);
}

.hidden-para {
    display: none;
}

ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 10px;


}